<h4> Extrait du CGI - Article 634 : Déclaration et paiement de l’impôt</h4>
<p>
    <br>
    <br>
    I. Tout contribuable, même bénéficiant d’une exonération, doit déposer, dans les délais légaux, les déclarations fiscales auxquelles
    il est tenu, avec la mention de tous les renseignements le concernant sur les imprimés ou formules mis à sa disposition, au niveau
    du service des impôts compétent.
    
    Les obligations visées au premier alinéa peuvent être effectuées au moyen de télé-déclaration dans les conditions fixées par
    décision du Ministre chargé des Finances.
    
    <br>
    <br>
    II. Tout contribuable doit acquitter le montant de l’impôt, du droit, de la taxe, de la redevance, de l’intérêt, de l’amende ou de la
    pénalité dont il est redevable dans les délais propres à chaque créance du Trésor.
    Cette obligation peut être remplie au moyen de télépaiement dans les conditions fixées par décision du Ministre chargé des
    Finances.
    <br>
    <br>

    
    III. Une décision du Ministre chargé des Finances peut rendre obligatoire, pour une ou des catégories de contribuables,
    la réalisation des obligations prévues aux I et II du présent article par voie de télédéclaration ou de télépaiement.
    Extrait de la décision n°06385 du 24 avril 2017 instituant l’obligation
    de télédéclaration et de télépaiement pour les contribuables relevant
    du service en charge des grandes entreprises.
     Article premier. - En application des dispositions de I'article 634 du code général des impôts, les contribuables relevant du
    service en charge des grandes entreprises sont tenus de remplir les obligations déclaratives prévues audit Code par voie de
    télédéclaration.
</p>


    <h4>Extrait de la décision n°06385 du 24 avril 2017 instituant l’obligation
        de télédéclaration et de télépaiement pour les contribuables relevant
        du service en charge des grandes entreprises.</h4>
        <p>
    <br>
    <br>
    <br>
    
    Article 2. - ll est, également, fait obligation aux mêmes contribuables d’acquitter les impôts dont ils sont redevables par voie de
    télépaiement à l'exclusion de ceux dus au titre des impôts locaux enrôlés.
    <br>
    <br>

    DISPOSITIONS GENERALES APPLICABLES AUX TELEPROCEDURES

    <br>
    <br>

    Je déclare souscrire à la télédéclarartion et au télépaiement des impôts, taxes et redevances auxquels l’entreprise est assujettie et m’engage à :
    
   
    <br>
    <br>
    1) respecter les délais légaux fixés par le Code général des impôts pour la déclaration et le paiement des impôts, droits, taxes et redevances sous peine des sanctions prévues par ledit Code ;
    
    <br>
    <br>
    2) joindre les annexes aux déclarations prévues par le Code général des impôts dans les délais fixés par ledit Code et suivant les formats de fichier arrêtés par la DGID ;
    
    <br>
    <br>
    3) ne recourir à la version manuelle que pour les impôts, droits, taxes et redevances non disponibles en ligne ou en cas d'indisponibilité de la plateforme signalée par la DGID ;
    
    <br>
    <br>
    4) communiquer à la DGID, les numéros complets des comptes bancaires et postaux à utiliser pour le paiement des impôts et taxes sous le format standard du relevé d’identité bancaire (RIB) à vingtquatre (24) caractères (voir modèle joint) ;
    
    <br>
    <br>
    5) autoriser la DGID à assurer la terminaison électronique vers les banques désignées des ordres de paiements effectués à travers la plateforme de télédéclaration et de télépaiement;
    
    <br>
    <br>
    6) informer immédiatement la DGID de tout changement de représentant, ou d'adresse électronique, ou de références bancaires ou postales.
    
    Les déclarations souscrites par les représentants ou mandataires désignés engagent entièrement l’entreprise. Toute erreur ou omission dans une déclaration peut être réparée dans les conditions fixées par le Code général des impôts.
    
    J’autorise la Direction générale des Impôts et des Domaines à transmettre une copie du présent formulaire aux banques et établissements financiers gestionnaires des comptes bancaires listés par le présent formulaire  pour le télépaiement de mes impôts et taxes.
    
             
    <br>
    <br>
    Je déclare avoir pris connaissance des dispositions générales applicables aux téléprocédures et m’engage à respecter les obligations qui en découlent.
    Extrait de la décision n°008433 du 18 avril 2018 portant sur l'utilisation de la télé-déclaration et du télé-paiement pour les moyennes entreprises
    
    
    
    <br>
    <br>
    Article premier. - En application des dispositions de l'article 634 de la loi n° 2012-31 du 31 décembre 2012 portant Code général des Impôts, modifiée, les entreprises relevant de la Direction des moyennes Entreprises sont autorisés à remplir les obligations déclaratives par voie de télé-déclaration, et à s’acquitter des impôts et taxes dont elles sont redevables par voie de télépaiement, à l'exclusion de ceux dus au titre des impôts locaux enrôlés .
    
    Article 2. – A compter du 1er juillet 2018, l’utilisation des téléprocédures fiscales sera obligatoire pour les contribuables relevant du Centre des moyennes Entreprises Dakar 1, selon des modalités définies par le Directeur général des Impôts et des Domaines.</p>
