<div class="container">

    <form #monForm="ngForm">
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
           <label >ID Representant</label>
            <input type="number" [(ngModel)]="newRepresentant.idRepresentant" name="idRepresentant" class="form-control">
         </div>
         <div class="form-row">


        <div class="col-sm-4 col-md-4 col-lg-4" >
             <label >CIVILITE</label>
            <input type="text"[(ngModel)]= "newRepresentant.civiliteRepresentant" name="civiliteRepresentant" class="form-control"
            required >
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >PRENOM</label>
            <input type="text" [(ngModel)]= "newRepresentant.prenomRepresentant"
                  name="prenomRepresentation" class="form-control" required>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >NOM</label>
            <input type="text" [(ngModel)]= "newRepresentant.nomRepresentant"
            name="nomRepresentation" class="form-control" required>
        </div>
    </div>

        <div class="form-row">


        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >FONCTION</label>
            <input type="text" [(ngModel)]= "newRepresentant.fonctionRepresentant"
            name="fonctionRepresentation" class="form-control" required>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >EMAIL</label>
            <input type="text" [(ngModel)]= "newRepresentant.emailRepresentant" #email = "ngModel"
            name="emailRepresentant" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
    class="alert alert-danger">
    <div *ngIf = "email.errors?.required">
        le courriel est obligatoire !
    </div>
    <div *ngIf = "email.errors?.pattern && email.touched">
        le courriel n'est pas bien ecrit !
    </div>
 </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >TEL FIXE</label>
            <input type="number" [(ngModel)]= "newRepresentant.telephoneFixeRepresentant"
            name="telephoneFixeRepresentant" class="form-control" required>
        </div>
    </div>

    <div class="form-row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >N°POSTE</label>
            <input type="number" [(ngModel)]= "newRepresentant.posteRepresentant"
            name="posteRepresentant" class="form-control" required>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >TEL MOBILE</label>
            <input type="number" [(ngModel)]= "newRepresentant.telephoneMobileRepresentant"
            name="telephoneMobileRepresentant" class="form-control" required>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >HABILITATION</label>
            <input type="text" [(ngModel)]= "newRepresentant.habilitationRepresentant"
            name="habilitationRepresentant" class="form-control" required>
        </div>
    </div>


        

        <div class="mt-2">
                 <p style="color: brown;">Remplissez tous les champs normalement pour Cliquer sur le bouton Ajouter en fin de saisie.</p>
                <button type="submit" [disabled]="monForm.invalid"  (click)="addRepresentant()"  class="btn btn-success"> Ajouter </button>
        
    
        </div>
        
    </form>
</div>



    <div class="card shadow mb-4">
        <div class="card-body">
        <table class="table table-striped">
            <tr><th>CIVILITE</th><th>PRENOM</th><th>NOM</th><th>FONCTION</th><th>EMAIL</th><th>TEL FIXE</th>
                <th>N°POSTE</th><th>TEL MOBILE</th><th>HABILITATION</th></tr>
            <thead>
               
            </thead>
            <tbody *ngFor="let representant of representants">
                <tr>
                    
                    <td>{{representant.civiliteRepresentant}}</td>
                    <td>{{representant.prenomRepresentant}}</td>
                    <td>{{representant.nomRepresentant}}</td>
                    <td>{{representant.fonctionRepresentant}}</td>
                    <td>{{representant.emailRepresentant}}</td>
                    <td>{{representant.telephoneFixeRepresentant}}</td>
                    <td>{{representant.posteRepresentant}}</td>
                    <td>{{representant.telephoneMobileRepresentant}}</td>
                    <td>{{representant.habilitationRepresentant}}</td>
                    <td><a class="btn btn-danger" (click)="deleteRepresentant(representant)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                    </a>
                    </td>
                    <td><a class="btn btn-dark"  [routerLink]="['/updaterepresentant',representant.idRepresentant]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </a>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>
    </div>

